@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 14px;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
}
 
.carousel-item img {
    object-fit: cover;
    object-position: top;
    height: 60vh;
    overflow: hidden;
}

.old_price{
    font-weight: bold;
    color: red;
}

.new_price {
    font-weight: bold;
    background-color: green;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

.pic-box {
    position: relative;
}

.hot {
    background-color: orangered;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 10;
    width: 75px; 
    text-align: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
  
  .card:hover img {
    transform: scale(1.05);
  }
  
  .card-body {
    padding: 15px;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.2rem;
    color: #007BFF;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .card-text {
    font-size: 0.95rem;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
  }
  
  .card hr {
    margin: 0;
    border: none;
    border-top: 1px solid #e6e6e6;
    width: 80%;
    margin: 10px auto;
  }
  

  .card a {
    text-decoration: none;
    color: inherit;
  }
  
  .card a:hover .card-title {
    color: #0056b3;
  }

  #glow a {   
    color: #ffffff; 
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }

 
  #glow a:hover {
    color: #eeff00; 
    text-shadow: 0 0 10px #eeff00, 0 0 20px #eeff00, 0 0 30px #eeff00, 0 0 40px #eeff00;
  }

  #bg{
    background-image: url(../images/5.jpg);
  }
