{% extends 'main.html' %}
{% load static %}
{% block title %}
Your Cart | ShopKart
{% endblock title %}
{% block content %}
<section class="bg-light py-4 my-5" style="min-height: 600px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">Cart Items</h4>
                <hr style="border-color: #b8bfc2 ;">
            </div>
            {% include 'messages.html' %}
            {% if cart %}
            <table class="table table-striped">
                 <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Remove</th>
                 </tr>
                 {% for item in cart %}
                 <tr>
                    <td><img src="{{item.product.product_image.url}}" height="75px" alt="{{item.product.name}}"></td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.product.selling_price}}</td>
                    <td>{{item.product_qty}}</td>
                    <td class="amt">{{item.total_cost}}</td>
                    <td><a href="{% url 'remove' item.id %}" onclick="return confirm('Are You Sure ? to Remove')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>  Remove</a></td>
                 </tr>
                 {% endfor %}
                 <tr>
                    <td></td>
                    <td></td>
                    <td colspan="2"><b>Total Amount</b></td>
                    <td id="net">0</td>
                    <td>
                        <div>
                            <button type="submit" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#formModal">
                                <i class="fa fa-bag-shopping"></i> Checkout
                            </button>
                            <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="formModalLabel">Checkout Form</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="{% url 'checkout' %}" method="POST">
                                      <div class="modal-body">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                          <label for="name" class="form-label">Name</label>
                                          <input type="text" class="form-control" id="name" name="name" value="{{request.user}}" readonly>
                                        </div>
                                        
                                        <div class="mb-3">
                                          <label for="email" class="form-label">Email</label>
                                          <input type="email" class="form-control" id="email" name="email" value="{{request.user.email}}">
                                        </div>

                                        <div class="mb-3">
                                            <label for="phn_no" class="form-label">Phone Number</label>
                                            <input type="tel" class="form-control" id="phone_no" name="phone_no" placeholder="9876543210" required>
                                          </div>
                                        
                                        <div class="mb-3">
                                          <label for="address" class="form-label">Delivery Address</label>
                                          <textarea name="user_address" id="user_address" cols="30" class="form-control" required></textarea>
                                        </div>
                                        {% for item in cart %}
                                        <div class="mb-3">
                                          <label for="quantity" class="form-label">Quantity</label>
                                          <input type="number" name="quantity" id="quantity" class="form-control" value="{{item.product_qty}}">
                                        </div>
                                        {% endfor %}
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </td>
                 </tr>
            </table>
            {% else %}
            
            <div class="text-center" style="margin-top: 8vh;">
              <img src="{% static 'images/6.png' %}" alt="">
                <h4>Cart is Empty. Please Add Products in your Cart</h4>
                <a class="btn btn-primary" href='{% url "home" %}'>Go Home</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<script>
    const nodes = document.querySelectorAll('.amt');
    const arr = Array.from(nodes);
    const res = arr.reduce((acc,curr) => {
        return acc += Number(curr.textContent)
    }, 0);
    document.getElementById('net').innerHTML = 'Rs : '+res;
</script>
{% endblock content %}